{{#partial "container"}}
<div class="issues-back">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
    <i class="material-icons" role="presentation">arrow_back</i>
  </a>
</div>
<div class="main_wrap user_wrap round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	{{#user}}
	<div class="article_header">
		<h2 class="article_title">{{userId}} 님의 프로필</h2>
    </div>
    <div class="article_container">
		<div class="section">
			<span class="label">User ID</span>
			<span class="contents">{{userId}}</span>
		</div>
		<div class="section">
			<span class="label">Name</span>
			<span class="contents">{{name}}</span>
		</div>
		<div class="section">
			<span class="label">Profile Image</span>
			<span class="contents">
				<img id="pic" name="pic" src="/profile/{{profile}}" height="200" width="200"/>
			</span>
		</div>
	</div>
    {{/user}}
</div>
{{/partial}}

{{> template}}