{{#partial "container"}}
<div class="issues-back">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
    <i class="material-icons" role="presentation">arrow_back</i>
  </a>
</div>
<div class="main_wrap user_wrap round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	<div class="article_header">
		<h2 class="article_title">Warning!</h2>
    </div>
    <div class="article_container">
      <p class="alert_message">
		해당 요청을 실행할 권한이 없습니다.
      </p>
    </div>
    <form action="/user/login" method="get">
		<div class="article_submit">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">로그인하러가기</button>
		</div>
    </form>
</div>
{{/partial}}

{{> template}}