{{#partial "container"}}
<div class="issues-back">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
    <i class="material-icons" role="presentation">arrow_back</i>
  </a>
</div>
<div class="main_wrap user_wrap round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	{{#user}}
	<form action="/user/{{id}}/modify" enctype="multipart/form-data" method="post">
		<input type="hidden" name="_method" value="put"/>
		<div class="article_header">
			<h2 class="article_title">{{userId}} 님의 개인정보 수정</h2>
	    </div>
	    <div class="article_container">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			  <input class="mdl-textfield__input" type="text" id="name" name="name" value="{{name}}" required>
			  <label class="mdl-textfield__label" for="name">Name</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			  <input class="mdl-textfield__input" type="password" id="password" name="password" required>
			  <label class="mdl-textfield__label" for="password">Current Password</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			  <input class="mdl-textfield__input" type="password" id="newPassword" name="newPassword" required>
			  <label class="mdl-textfield__label" for="password">New Password</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
			  <input class="mdl-textfield__input" placeholder="File" type="text" id="fileText" name="fileText" readonly/>
			  <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
			    <i class="material-icons">attach_file</i><input type="file" id="file" name="file" accept=".png,.jpg">
			  </div>
			  <label style="font-size:15px;">PNG, JPG 형식의 파일만 업로드 할 수 있습니다.</label>
			</div>
	    </div>
	    <div class="article_submit">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="btnSubmit" type="submit">modify</button>
	    </div>
    </form>
	{{/user}}
</div>
{{/partial}}

{{> template}}