@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Roboto', 'Helvetica', 'Noto Sans KR', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.ellipsize {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.multi_ellipsize {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.blind_contents{
    position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    overflow:hidden;
}

/*  */
.user_info_header {
	position: absolute;
	top: 8px;
	right: 16px;
}
.user_info_header .user_txt {
	float:left;
	text-align: right;
}
.user_info_header .user_thumb {
	margin-left: 8px;
}

.user_info_header .user_id{
	display: block;
	font-size: 16px;
	color: #FF847C;
}

.user_info_header .user_name{
	display: block;
}

.tab_container {
	display: inline-block;
	width: 100%;
}
.tab_container .tab_menu {
	padding: 8px;
	margin: 0 8px;
}
.tab_container .tab_menu:hover {
	color: #bbb;	
}

.tab_container .user_tab {
	float:right;
}

.mdl-layout__content .round_border {
	border-radius: 16px;
}

.main_wrap {
  position: relative;
  max-width: 320px;
  margin: 48px auto;
}

.main_wrap .title_container {
	position: relative;
	padding-bottom: 16px;
}

.main_wrap .title_icon{
	position: absolute;
	top: 8px;
	left: 16px;
	color: #888;
}

.main_wrap .title {
	padding: 8px 16px 8px 40px;
	width: 100%;
	font-size: 24px;
	color: #888;
}


.main_wrap .card_item {
	float: left;
	width: 300px;
	height: 180px;
	margin: 10px;
	border-radius: 16px;
}

.main_wrap .card_title_link {
	position: relative;
	display: block;
	height: 42px;
	// background-color: #F5B349;
	background-color: #FF847C;
	border-radius: 16px 16px 0 0;
	padding: 12px;	
}

.main_wrap .card_title {
	color: #fff;
	font-size: 18px;
	padding-right: 36px;
}

.main_wrap .btn_add {
	position: absolute;
	top: 0;
	right: 16px;
	background-color: #E84A5F;
	color: #fff;
}

.main_wrap .card_arrow {
	position: absolute;
	top: 8px;
	right: 8px;
	color: #fff;
	
}
.main_wrap .card_contents {
	position: relative;
	padding: 12px 56px 12px 16px;
	height: 84px;
	color: rgba(0,0,0,.54);
}

.main_wrap .contents_text {
	line-height: 18px;
}

.main_wrap .card_writer {
	position: absolute;	
	bottom: 8px;
	right: 8px;
	font-style: italic;
}

.main_wrap .article_header {
	position: relative;
	width: 100%;
	min-height: 60px;
	font-size: 18px;
	color: #fff;
	background-color: #FF847C;
	border-radius: 16px 16px 0 0;
	padding: 0 16px;
}

.main_wrap .article_title {
	width: 100%;
	line-height: 60px;
	min-height: 60px;
}

.main_wrap .article_container {
	padding: 0 16px;
}

.main_wrap .article_submit {
	text-align: right;
	padding: 0 16px 16px;
}

.article_container .section{
	padding-top: 16px;
	color: #888;
}
.article_container .label {
	display: block;
}
.article_container .contents {
	display: block;
	padding: 8px;
	color: #333;
	font-size: 20px;
}

.article_container .article {
	float: left;
	width: 100%;
	padding: 16px 16px 16px 0;
}

.article_container .navigation {
	float: left;
	width: 100%;
	margin: 16px 0;
	padding-left: 16px;
	border-top: 1px solid rgba(0,0,0,.1);
}

.article_container .alert_message {
	padding: 24px 0;
	color: #E84A5F;
	font-size: 20px;
}

.navigation .nav_category {
	position: relative;
	padding: 8px 0;
}

.nav_category .user_thumb {
	float: left;
}

.nav_category .nav_info {
	overflow: hidden;
	padding-left: 16px;
}

.nav_info .user_id {
	display: block;
	padding: 4px 0;
	font-size: 18px;
}

.nav_info .write_date {
	font-size: 14px;
	color: #888;
}

.nav_category .nav_title {
	padding-bottom: 8px;
	color: rgba(0,0,0,.54);
	font-size: 20px;
}

.nav_category .btn_menu {
	position: absolute;
	color: rgba(0,0,0,.54);
	top: 0;
	right: 0;
}

.nav_category .mdl-switch {
	margin-top: 0;
}
.nav_category .state {
	display: inline-block;
	line-height: 48px;
}

.nav_category .assignee {
	margin: 4px 2px;
}

.nav_category .milestone_wrap {
	position: relative;
}
.nav_category .milestone_link {
	padding-right: 32px;
}
.nav_category .btn_milestone_delete {
	position: absolute;
	top: 3px;
	right: 4px;
}

.nav_category .label_tag {
	margin: 4px 2px;
	color: #fff;
}

.main_wrap .article_comment {
	background-color: #EEE;
	padding: 16px;
}

.comment_date {
	padding: 0 8px;
	font-size : 14px;
	color: #aaa;
}

.comment_thumb {
	float: left;
	margin-left: 8px;
}

.comment_info {
	position: relative;
	overflow: hidden;
	padding: 0 16px;
}
.comment_user {
	color: #000;
	font-size: 18px;
}

.comment_attachment {
	color: #BDBDBD;
	font-size: 16px;
}

.comment_contents {
	overflow: hidden;
	padding: 8px 0 4px;
	font-size: 16px;
	color: rgba(0,0,0,.54);
}

.comment_input_wrap {
	padding-right: 48px;
}

.comment_input {
	overflow: hidden;
	width: 100%;
	font-size: 18px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main_wrap .comment_new {
	position: relative;
	padding: 4px 64px 0 16px;
}



.card_thumb_wrap {
	text-align: right;
}
.card_writer .writer_by {
	font-size: 14px;
}
.card_writer .writer_name {
	font-weight: 500;
	color: #000;
}

.main_wrap .card_bottom {
	position: relative;
	padding: 0 16px;
	min-height: 48px;
	border-top: 1px solid rgba(0,0,0,.1);
}
.mdl-switch {
	margin-top: 12px;
	width: 48px;
}

.main_wrap .comment_count {
	position: absolute;
	top: 16px;
	right: 8px;
}

/*  */
.main_wrap .article_menu {
	position: absolute ;
	top: 16px;
	right: 8px;
	color: #fff;	
}

.main_wrap .no_empty_issue {
	padding: 20px;	
}

.issue_highlight {
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
}


.main_wrap .empty_issue {
	padding: 20px;	
}



/* issue/detail */
/* .label_container {
	padding: 12px;
}
.label_container .label {
	color: #fff;
} */

.milestone_description {
	width: 100%;
	color : #888;
}

.round_image {
  //background-image: url('images/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  background-color: #F5F5F5;
}

.btn_comment_modify {
	display: inline-block;
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Arial;
	color: #fff;
	font-size: 14px;
	background: #00A0B0;
	padding: 4px 8px 4px 8px;
	cursor: pointer;
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
}
.btn_comment_modify:hover {
	background: #005b63;
}

.btn_comment_delete {
	display: inline-block;
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Arial;
	color: #fff;
	font-size: 14px;
	background: #CC333F;
	padding: 4px 8px 4px 8px;
	cursor: pointer;
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
}
.btn_comment_delete:hover {
	background: #99000d;
}

.btn_comment_complete {
	position: absolute;
	bottom: 24px;
	right: 16px; 
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	color: white;
	cursor: pointer;
}

.btn_comment_complete:hover {
    background-color: rgba(158,158,158,.5);
}

.footer {
	height: 48px;
	background-color: #424242;
	text-align: right;
}

.footer_sign {
	padding: 0 16px;
	line-height: 48px;
	color: #fff;
}

/* overlap */

.mdl-layout__header {
    min-height: 48px;
}
.mdl-layout__header.is-compact {
    max-height: 48px;
}
.mdl-layout__header-row {
	height: 48px;
    padding: 0 8px 0 56px;
}
.mdl-layout__drawer-button {
	margin: 0;
}
.mdl-textfield {
	width: 100%; 
}
.mdl-textfield.is-invalid .mdl-textfield__input{
	border-color: #E84A5F;
}
.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #CC2A41; 
}



@media screen and (min-width: 720px) {
	.main_wrap {
		max-width: 640px;
	}
	.user_wrap {
		max-width: 480px;
	}
}
@media screen and (min-width: 1080px) {
	.main_wrap {
		max-width: 960px;
	}
	.user_wrap {
		max-width: 480px;
	}
	.article_container .article {
		width: 70%;
	}
	.article_container .navigation {
		width: 30%;
		border-left: 1px solid rgba(0,0,0,.1);
		border-top: none;
	}
}
@media screen and (min-width: 1400px) {
	.main_wrap {
		max-width: 1280px;
	}
	.user_wrap {
		max-width: 480px;
	}
	.article_container .article {
		width: 75%;
	}
	.article_container .navigation {
		width: 25%;
		border-left: 1px solid rgba(0,0,0,.1);
	}
}