@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.issues .issues__posts {
  //max-width: 900px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.issues--wrap .comments {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 32px;
  box-sizing: border-box;
}

.issues--wrap .new-comment > form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 16px;
}

.issues--wrap .new-comment > form .mdl-textfield {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 16px;
  color: rgb(97, 97, 97);
}

.issues--wrap .new-comment > form button {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
}

.issues--wrap .comments .comment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.issues--wrap .comments .comment > .comment__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.issues--wrap .comments .comment > .comment__text {
  margin-top: 16px;
  line-height: 1.5em;
}

.issues--wrap .issues-back {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 9999;
}

.issues .section-spacer {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.meta .author,
.comment__author .author {
  font-weight: bold;
  color: #555;
  text-decoration: none;
}

.meta .author-text {
  width: 100%;
}

.issues .mdl-card .mdl-card__menu {
  color: #fff;
}

.mdl-menu__item--full-bleed-divider strong {
  margin-left: 4px;
}

.issue-list {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.issues-card-wide.mdl-card {
  width: 100%;
}

.issues-card-wide.mdl-card .mdl-card__supporting-text .mdl-list {
  padding: 0;
}

.issues-card-wide .mdl-card__title {
  background-color: #ccc;
}

.issues-card-wide .mdl-button {
  position: absolute;
  top: 48px;
  right: 50px;
}

.mdl-dialog.new-issue {
  width: 80%;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mdl-dialog.new-issue .pr {
  background: #424242;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  outline: 1px solid transparent;
  padding: 11px 20px;
}

.mdl-dialog.new-issue .pr .material-icons {
  font-size: 18px;
}

.mdl-dialog.new-issue .mdl-dialog__content form,
.mdl-dialog.new-issue .mdl-dialog__content .mdl-textfield {
  width: 100%;
}

.issues--wrap .new-comment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 32px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}
