{{#partial "container"}}
<div class="main_wrap">
	<div class="title_container">
		<i class="title_icon material-icons">bookmark_border</i>	
		<h2 class="title">Organization</h2>
	</div><hr>
	<h3 class="sub_title">Favorite</h3>
	<div class="clearfix">
		<ul id="favorite_org" class="org_list masonry clearfix">
		{{#favoriteList}}
			<li id="org_item_{{id}}" class="org_card mdl-shadow--2dp masonry-item">
				<a class="org_main_link" href="/group/{{id}}/issue/list">
					<div class="org_card_top ellipsize">
					     <i class="group_icon material-icons">done</i> {{groupName}}
					</div>
					<div class="org_card_center">
						<p class="org_contents multi_ellipsize">{{description}}</p>
					</div>
					<div class="org_card_bottom">
					  
					</div>
				</a>
				<i id="org_like_{{id}}" class="org_favorite material-icons" data-id="{{id}}">{{stateCheck}}</i>
				<a class="org_detail_link" href="/group/{{id}}/detail">
	   			    <i class="material-icons">settings</i>
				</a>
			</li>
		{{/favoriteList}}
		</ul>
	</div>
	<hr>
	<h3 class="sub_title">Organization</h3>
	<div>
		<ul id="default_org" class="org_list masonry clearfix">
			{{#ordinaryList}}
			<li id="org_item_{{id}}" class="org_card mdl-shadow--2dp masonry-item">
				<a class="org_main_link" href="/group/{{id}}/issue/list">
					<div class="org_card_top ellipsize">
					     <i class="group_icon material-icons">done</i> {{groupName}}
					</div>
					<div class="org_card_center">
						<p class="org_contents multi_ellipsize">{{description}}</p>
					</div>
					<div class="org_card_bottom">
					  
					</div>
				</a>
				<i id="org_like_{{id}}" class="org_favorite material-icons" data-id="{{id}}">{{stateCheck}}</i>
				<a class="org_detail_link" href="/group/{{id}}/detail">
	   			    <i class="material-icons">settings</i>
				</a>
			</li>
		{{/ordinaryList}}
		</ul>
	</div>
	<a class="btn_add mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" href="/group/new">
  		<i class="material-icons">add</i>
	</a>
</div>
{{/partial}}
{{#partial "script"}}
	<script src="/js/organization.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>
	<script>
	$(function() {

        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
        });
	});
</script>

<script type="text/template" id="org_item">
	<li id="org_item_{0}" class="org_card mdl-shadow--2dp masonry-item">
				<a class="org_main_link" href="/group/{0}/issue/list">
					<div class="org_card_top ellipsize">
					     <i class="group_icon material-icons">done</i> {1}
					</div>
					<div class="org_card_center">
						<p class="org_contents multi_ellipsize">{2}</p>
					</div>
					<div class="org_card_bottom">
					  
					</div>
				</a>
				<i id="organization_{0}" class="org_favorite material-icons" data-id="{0}">{3}</i>
				<a class="org_detail_link" href="/group/{0}/detail">
	   			    <i class="material-icons">settings</i>
				</a>
			</li>
	</script>

{{/partial}}
{{> template_2}}