<!doctype html>
<html lang="en">
{{#block "head"}}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Issue Tracking System</title>
	
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.css">
	<link rel="stylesheet"
		href="https://code.getmdl.io/1.3.0/material.blue_grey-pink.min.css">
	<link rel="stylesheet" href="/css/datepicker.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/custom.css">
	<!-- <link rel="stylesheet" href="/css/tinymce.css"> -->
</head>
{{/block}}
<body>
<div class="mdl-layout__container">
    <div class="issues issues--wrap mdl-layout mdl-js-layout">		
        <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
          {{#block "navigation"}}
          <header class="mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
              <a id="logo" class="mdl-layout-title" href="/">Issue Tracking System</a>
              {{#if sessionedUser}}
              <div class="user_info_header clearfix">
				        <div class="user_txt">
               		<span class="user_id"><a href="/user/{{sessionedUser.id}}/mypage">{{sessionedUser.userId}}</a></span>
                	<span class="user_name"><a class="user_name" href="/user/{{sessionedUser.id}}/mypage">{{sessionedUser.name}} 님</a></span>
				        </div>   			
              	<a href="/user/{{sessionedUser.id}}/mypage">
					        <img class="user_thumb round_image" height="32" width="32" src="/profile/{{sessionedUser.profile}}" alt="{{sessionedUser.userId}}"/>
              	</a>
              </div>
              {{/if}}
           </div>
           <div class="mdl-layout__header-row">
              <nav class="tab_container">
                <a class="tab_menu" href="/issue/list">Issues</a>
                <a class="tab_menu" href="/milestone/list">Milestones</a>
                <div class="user_tab">
                  {{#if sessionedUser}}
                  <a class="tab_menu" href="/user/{{sessionedUser.id}}/mypage">My page</a>
                  <a class="tab_menu" href="/user/logout">Sign out</a>
                  {{else}}
                  <a class="tab_menu" href="/user/login">Sign in</a>
                  <a class="tab_menu" href="/user/new">Sign up</a>
                  {{/if}}
                </div>
              </nav>
            </div>
          </header>
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Organization</span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Organization 1</a>
              <a class="mdl-navigation__link" href="">Organization 2</a>
              <a class="mdl-navigation__link" href="">Organization 3</a>
              <a class="mdl-navigation__link" href="">Organization 4</a>
            </nav>
          </div>
          {{/block}}
          <main class="mdl-layout__content">
        	{{#block "container"}}{{/block}}
          </main>
	      {{#block "footer"}}
          <footer class="footer">
        	<span class="footer_sign">© SMILEGATE Corp. </span>
          </footer>
          {{/block}} 
		  <div class="mdl-layout__obfuscator"></div>
		</div>
	</div>
</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/handlebars/4.0.5/handlebars.min.js"></script>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.min.js"></script>
<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript" id="comment_template">{{precompile "/precompile/comment_template"}}</script>
<script src="/js/main.js"></script>
<!-- <script type="text/javascript">
			function checkLogin(e) {
				var loginUser = '{{sessionedUser.id}}';
				var myId = '{{writer.id}}';
				console.log(loginUser);
				console.log(myId);
				if(loginUser != myId) {
					e.preventDefault();
					alert('Issue에 대한 권한이 없습니다.');
				}
			}
		</script> -->
{{#block "script"}}{{/block}}
</body>
</html>
