{{#partial "container"}}
{{#milestone}}
<div class="main_wrap round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	<div class="article_header">
		<h2 class="article_title ellipsize">{{subject}}</h2>
		<!-- <div class="article_menu">
			<a href="/milestone/{{id}}/modify" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			  <i class="material-icons">edit</i>
			</a>
			<a href="/milestone/{{id}}/delete" id="issues-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
			  <i class="material-icons">delete</i>
			</a>
	    </div> -->
    </div>
	<div class="article_container partition">
		<div class="article">
			<p class="contents">{{description}}</p>
		</div>
		<div class="navigation">
			<div class="datepicker-here" data-language='en'></div>
		</div>
	</div>
   	<hr>
   	{{#if issueList}}
   	<h3 class="title">Issue List</h3>
	   	{{#each issueList}}
	    <div class="no_empty_issue mdl-card__supporting-text">
	   		<a class="issue_highlight" href="issue/{{id}}/detail">{{subject}} </a>
	   		 opened by 
	   		<a class="issue_highlight" href="/user/{{writer.id}}/detail"> {{writer.userId}}</a>
	    </div>
	   	{{/each}}
    {{else}}
    <div class="empty_issue">
    	There are no Issue in this milestone.
    </div>
    {{/if}}
</div>
{{/milestone}}
{{/partial}}
{{#partial "script"}}
    <script src="/js/datepicker.min.js"></script>
	<script>
	$(function() {
		var position = $(window).width() < 720 ? "top left" : "bottom left";
		var datepickerItem = $('#endDate');
		datepickerItem.datepicker({
		    language: 'en',
		    minDate: new Date(), // Now can select only dates, which goes after today
		    
		    onShow: function(inst, animationCompleted) {
		    	var datepicker = $('#endDate').datepicker().data('datepicker');
		    	var position = $(window).width() < 1080 ? "top left" : "bottom left";
		    	datepicker.update({
		    	    position: position
		    	});
		    }
		});
	});
	
	;(function ($) { $.fn.datepicker.language['en'] = {
		    days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
		    daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
		    daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
		    months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
		    monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
		    today: 'Today',
		    clear: 'Clear',
		    dateFormat: 'mm/dd/yyyy',
		    timeFormat: 'hh:ii aa',
		    firstDay: 0
		}; })(jQuery);
  </script>
{{/partial}}
{{> template}}