{{#partial "container"}}
<div class="issues-back">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
    <i class="material-icons" role="presentation">arrow_back</i>
  </a>
</div>
{{#milestone}}
<div class="issues__posts main_wrap mdl-grid">
	<h2 class="title">Milestones</h2>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	<h2 class="article_title">{{subject}}</h2>
    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
      <div class="mdl-textfield mdl-js-textfield" style="width:100%">
        <p class="milestone_description">{{description}}</p>
      </div>
    </div>
    <hr>
    	{{#if issueList}}
    	<h3 class="title">Issue List</h3>
    	{{#each issueList}}
	    <div class="no_empty_issue mdl-card__supporting-text">
    		<a class="issue_highlight" href="/issue/{{id}}/detail">{{subject}} </a>
    		 opened by 
    		<a class="issue_highlight" href="/user/{{writer.id}}/detail"> {{writer.userId}}</a>
	    </div>
    	{{/each}}
	    {{else}}
	    <div class="empty_issue">
	    	There are no Issue in this milestone.
	    </div>
	    {{/if}}
  </div>
</div>
{{/milestone}}
{{/partial}}

{{> template}}