{{#partial "container"}}
{{#milestone}}
<div class="main_wrap round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	<div class="article_header">
		<h2 class="article_title ellipsize">{{subject}}</h2>
		<div class="article_menu">
			<a href="/milestone/{{id}}/modify" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			  <i class="material-icons">edit</i>
			</a>
			<a href="/milestone/{{id}}/delete" id="issues-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
			  <i class="material-icons">delete</i>
			</a>
	    </div>
    </div>
	<div class="article_container partition">
		<div class="article">
			<p class="contents">{{description}}</p>
		</div>
		<div class="navigation">
		</div>
	</div>
   	<hr>
   	{{#if issueList}}
   	<h3 class="title">Issue List</h3>
	   	{{#each issueList}}
	    <div class="no_empty_issue mdl-card__supporting-text">
	   		<a class="issue_highlight" href="/issue/{{id}}/detail">{{subject}} </a>
	   		 opened by 
	   		<a class="issue_highlight" href="/user/{{writer.id}}/detail"> {{writer.userId}}</a>
	    </div>
	   	{{/each}}
    {{else}}
    <div class="empty_issue">
    	There are no Issue in this milestone.
    </div>
    {{/if}}
</div>
{{/milestone}}
{{/partial}}

{{> template}}