{{#partial "container"}}
<div class="main_wrap">
	<div class="title_container">
		<i class="title_icon material-icons">bookmark_border</i>	
		<h2 class="title">Milestones</h2>
	</div>
	<div class="round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	  	<div class="article_header">
	  		<div class="article_title"></div>
	  	</div>
		<div class="list_wrap">
			<ul>
				{{#each milestones}}
				<li class="milestone_list_item">
					<a class="milestone_list_link" href="/group/{{organizationId}}/milestone/{{id}}/detail">
						<div class="primary_contents">
							<strong class="subject ellipsize">{{subject}}</strong>
							<span class="date">
								<i class="material-icons date_icons">schedule</i><strong> Due by</strong> {{dueDate}}
							</span>
						</div>
						<div class="sub_contents">
						  	<span class="progress_background">
						  		<span id="progress_{{id}}" style="width:calc({{completeIssueRatio}}%)" class="progress_bar"> </span>
					  		</span>			
						  	<span class="progress_info">
						  		<strong class="info_highlight">{{completeIssueRatio}}%</strong> complete
						  		<strong class="info_highlight">{{openIssue}}</strong> open
						  		<strong class="info_highlight">{{closeIssue}}</strong> closed
						  	</span>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>     
		</div>
	</div>
	<a class="btn_add mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" href="/group/{{organizationId}}/milestone/new">
	  <i class="material-icons">add</i>
	</a>
</div>
{{/partial}}
{{> template}}
