{{#partial "container"}}
<div class="issues-back">
	<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
	  <i class="material-icons" role="presentation">arrow_back</i>
	</a>
</div>
<div class="main_wrap">
	<div class="title_container">
		<i class="title_icon material-icons">bookmark_border</i>	
		<h2 class="title">Milestone Create</h2>
	</div>
	<div class="round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	  	<form name="milestone" action="/milestone/new" method="post" >
	  		 <div class="article_header">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" id="subject" name="subject" required>
					<label class="mdl-textfield__label" for="subject">Subject</label>
				</div>
		    </div>
		    <div class="article_container partition">
		    	<div class="article">
					<div class="mdl-textfield mdl-js-textfield">
						<textarea class="mdl-textfield__input" rows= "15" id="contents" name="contents" required></textarea>
						<label class="mdl-textfield__label" for="contents">Description</label>
					</div>
				</div>
				<div class="navigation">
			      <!-- <div class="input-date" style="padding:15px;">
			        <label for="startDate" style="color:#888">start date</label>
			        <input type="datetime-local" name="formatStartDate" id="startDate" required>
			      </div> -->
			      <div class="nav_category">
				      <label for="endDate" class="nav_title">end date</label>
			          <input id="endDate" class='datepicker-here' 
			          		 data-position='top left' data-language='en' 
			          		 type="text" name="formatEndDate" autocomplete="off" required>
			      </div>
			    </div>
		    </div>
			<div class="article_submit">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Submit</button>
			</div>
	    </form>  
	</div>
</div>
{{/partial}}
{{#partial "script"}}
    <script src="/js/datepicker.min.js"></script>
	<script>
	$(function() {
		var position = $(window).width() < 720 ? "top left" : "bottom left";
		var datepickerItem = $('#endDate');
		datepickerItem.datepicker({
		    language: 'en',
		    minDate: new Date(), // Now can select only dates, which goes after today
		    
		    onShow: function(inst, animationCompleted) {
		    	var datepicker = $('#endDate').datepicker().data('datepicker');
		    	var position = $(window).width() < 1080 ? "top left" : "bottom left";
		    	datepicker.update({
		    	    position: position
		    	});
		    }
		});
		datepickerItem.data('datepicker');
	});
	
	;(function ($) { $.fn.datepicker.language['en'] = {
		    days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
		    daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
		    daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
		    months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
		    monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
		    today: 'Today',
		    clear: 'Clear',
		    dateFormat: 'mm/dd/yyyy',
		    timeFormat: 'hh:ii aa',
		    firstDay: 0
		}; })(jQuery);
  </script>
{{/partial}}
{{> template}}
