{{#partial "container"}}
<div class="issues-back">
  <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back" role="button">
    <i class="material-icons" role="presentation">arrow_back</i>
  </a>
</div>
{{#issueInfo}}
<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
	<div class="main_wrap mdl-grid">
		<h2 class="article_title">{{subject}}</h2>
		<div class="article_menu">
			<a href="/issue/{{id}}/modify" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			  <i class="material-icons">edit</i>
			</a>
			<a href="/issue/{{id}}/delete" id="issues-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
			  <i class="material-icons">delete</i>
			</a>
	    </div>
		<div class="article_container">		
			<div class="article">	    
			    <pre class="contents">{{contents}}</pre>
			</div>
			<div class="navigation">
			    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
			      <img class="minilogo" height="48" width="48" src="/profile/{{writer.profile}}" alt="{{writer.userId}}"/>
			      <div style="margin-right:20px;">
			        <div class="author-text">
			          <strong>
			            <a href="/user/{{writer.id}}/detail" class="author">
			            	<strong class="writer_name">{{writer.userId}}</strong>
		            	</a>
			          </strong>
			        </div>
			        <span> {{writeDate}} </span>
			      </div>
		      	</div>
		      	<div class="nav_category">
		      		<div class="nav_title">State</div>
	   		      	<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-{{id}}">
					  <input type="checkbox" id="switch-{{id}}" value="{{id}}" class="mdl-switch__input" {{stateCheck}}>
					  <span class="mdl-switch__label"></span>
					</label>
					<span class="state">{{state}}</span>
		      	</div>
		      	<div class="nav_category">
			      	<div class="nav_title">Assignee</div>
			      	<button id="btn_add_assignee"
					        class="add_nav mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">record_voice_over</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="btn_add_assignee">
						{{#allUser}}
					 		<li class="mdl-menu__item">{{userId}}</li>
					  	{{/allUser}}
					</ul>
					{{#assigneeList}}
		      		<span class="assignee mdl-chip mdl-chip--contact mdl-chip--deletable">
					    <img class="mdl-chip__contact" src="/profile/{{profile}}"></img>
					    <span class="mdl-chip__text">{{userId}}</span>
					    <a href="#" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
					</span>
					{{/assigneeList}}
		      	</div>
		      	<div class="nav_category">
		      		<div class="nav_title">Milestone</div>
			      	<button id="btn_add_milestone"
					        class="add_nav mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">settings</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="btn_add_milestone">
						{{#allMilestone}}
					 		<li class="mdl-menu__item">{{subject}}</li>
					  	{{/allMilestone}}
					</ul>
		      		<a href="/milestone/{{milestone.id}}/detail"><strong>{{milestone.subject}}</strong></a>
		      	</div>
		      	<div class="nav_category">
		      		<div class="nav_title">Label</div>
						<button id="btn_add_label"
					    	    class="add_nav mdl-button mdl-js-button mdl-button--icon">
					  	<i class="material-icons">label</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="btn_add_label">
						{{#each allLabel}}
					 		<li class="mdl-menu__item">{{name}}</li>
					  	{{/each}}
					</ul>
		      		{{#each labelList}}
					<span id="label_{{id}}" class="label mdl-chip mdl-chip--deletable" style="background-color:{{color}}">
					    <span class="mdl-chip__text">{{name}}</span>
					    <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
					</span>
					{{/each}}
		      	</div>
			</div>
		</div>
	</div>
<div class="comment-form mdl-color-text--primary-contrast mdl-card__supporting-text comments">
	{{#each commentList}}
      <div id="comment_{{id}}" class="comment mdl-color-text--grey-700" >
        <header class="comment__header">
          <img class="comment__avatar2" height="48" width="48" src="/profile/{{writer.profile}}" alt="javajigi">
          <div class="comment__author">
            <strong>
            	<span>
            		<a href="/user/{{writer.id}}/detail"><font color="#0000ff">{{writer.userId}}</font></a>
            		<span style="white-space: pre-line;">{{contents}}</span>
            		<font class="date_format">{{formattedWriteDate}}</font>
            	</span>
            </strong>
            <form id="commentForm_{{id}}" action="/comment/{{id}}/">
            <strong>
            	<span>
            		{{#if isMyComment}}
            			<a href="/comment/{{id}}/modify" >수정</a>
            			
						<a class="commentDelete" onclick="delComment({{id}})">삭제</a>
            		{{/if}}
            	</span>
            </strong>
            </form>
          </div>
        </header>
      <hr>
      </div>
      {{/each}}
</div>
<form action="/issue/1/uploadFile" enctype="multipart/form-data" method="POST">
	<div style="margin:10px;">
	  <input type="file" name="file" id="file" />
	  <button class="mdl-button" type="submit">upload file</button>
	</div>
</form>
<div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
	<form class="comment-create" action="/comment/{{id}}/new" method="POST">
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <textarea row=5 class="mdl-textfield__input" id="contents" name="contents"></textarea>
	    <label for="contents" class="mdl-textfield__label">Leave a comment</label>
	  </div>
	  <button type="submit" class="add-comment-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
	    <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
	  </button>
	</form>
</div>
</div>
{{/issueInfo}}
{{/partial}}
{{> template}}
<script type="text/template" id="commentTemplate">
<div id="comment_{0}" class="comment mdl-color-text--grey-700">
        <header class="comment__header">
          <img class="comment__avatar2" height="48" width="48" src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
          <div class="comment__author">
            <strong>
            	<span>
            		<a href="/user/{3}/detail"><font color="#0000ff">{4}</font></a>
            		{1}
            		<font class="date_format">{2}</font>
            	</span>
			</strong>
			<form id="commentForm_{0}" action="/comment/{0}/">
			<strong>
				<span>
            		{{#if 5}}
            			<a href="/comment/{0}/modify">수정</a>
						<a class="commentDelete" onclick="delComment({0})">삭제</a>
            		{{/if}}
            	</span>
            </strong>
			</form>
          </div>
        </header>
      <hr>
      </div>
</script>
<script id="test-template" type="text/x-handlebars-template">
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <p>{{contents}}</p>
	</div>
</script>
<script>
    	//var source = $("#test-template").html();
    	//var template = Handlebars.compile(source);
</script>
