{{#partial "container"}}
{{#modifyIssue}}
<div class="main_wrap">
	<div class="title_container">
		<i class="title_icon material-icons">bookmark_border</i>	
		<h2 class="title">Issue Modify</h2>
	</div>
	<div class="round_border mdl-shadow--4dp mdl-cell mdl-cell--12-col">
		<form action="/group/{{organizationId}}/issue/{{id}}/modify" method="post">
		 	<div class="article_header">
				<div class="mdl-textfield mdl-js-textfield">
				    <input class="mdl-textfield__input" type="text" id="subject" name="subject" value="{{subject}}" required>
  					<label class="mdl-textfield__label" for="subject">Subject</label>
				</div>
			</div>
			<div class="article_container partition">
				<div class="mdl-textfield mdl-js-textfield">
					<textarea class="mdl-textfield__input" rows= "15" id="contents" name="contents" required>{{contents}}</textarea>
					<label class="mdl-textfield__label" for="contents">Contents</label>
				</div>
				<div class="article_submit">
			  		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{{/modifyIssue}}
{{/partial}}

{{> template}}